<div class="tweetSection">

  <div class="col-xl-4 col-md-6 col-sm-12" ng-repeat="(kUser, user) in tweetsListCtrl.users">
    <div class="panelTweet panel panel-default">
      <div class="header panel-heading">
        <div class="row">
          <div class="col-sm-1">
            <img class="user-profil-pic" src="{{user.profile_image_url}}" alt="ProfilPic">
          </div>
          <div class="col-sm-11">
            <h3 class="h3-user-name">{{user.name}}</h3>
            <p>{{user.description}}</p>
            <p><a href="{{'https://twitter.com/' + kUser}}">@{{kUser}}</a></p>
          </div>
        </div>
      </div>
      <div class="panel-body tweetsBlock">
          <div class="tweetList" ng-repeat="(kTweet, tweet) in tweetsListCtrl.tweets[kUser] | startFrom:tweetsListCtrl.currentPage[kUser]*tweetsListCtrl.pageSize | limitTo:tweetsListCtrl.pageSize">
            <p>{{tweet.text}}</p>
            <p class="dateTweet">Le {{tweet.created_at | date: 'dd/MM/yyyy'}} voir sur <a href="{{tweet.url}}">Twitter</a></p>
          </div>
      </div>
      <div class="footer panel-footer">
        <button class="btn btn-default" ng-disabled="tweetsListCtrl.currentPage[kUser] == 0" ng-click="tweetsListCtrl.changePage(-1, kUser)">
          <i class="glyphicon glyphicon-chevron-left"></i>
            Previous
        </button>
        <button class="btn btn-default" ng-disabled="tweetsListCtrl.currentPage[kUser] >= tweetsListCtrl.tweets[kUser].length/tweetsListCtrl.pageSize - 1" ng-click="tweetsListCtrl.changePage(1, kUser)">
            Next
            <i class="glyphicon glyphicon-chevron-right"></i>
        </button>
        <div class="pagination">
          {{tweetsListCtrl.currentPage[kUser] + 1}}/{{tweetsListCtrl.tweets[kUser].length/tweetsListCtrl.pageSize}}
        </div>
      </div>
    </div>
  </div>
</div>
