

<div class="tweetList" ng-repeat="tweet in tweetsListCtrl.tweets | startFrom:tweetsListCtrl.currentPage*tweetsListCtrl.pageSize | limitTo:tweetsListCtrl.pageSize">
  {{tweet.id}}
</div>
<button ng-disabled="tweetsListCtrl.currentPage == 0" ng-click="tweetsListCtrl.currentPage=tweetsListCtrl.currentPage-1">
    Previous
</button>
{{tweetsListCtrl.currentPage+1}}/{{tweetsListCtrl.numberOfPages()}}
<button ng-disabled="tweetsListCtrl.currentPage >= tweetsListCtrl.data.length/tweetsListCtrl.pageSize - 1" ng-click="tweetsListCtrl.currentPage=tweetsListCtrl.currentPage+1">
    Next
</button>

<!--<div class="userList" ng-repeat="userr in tweetsListCtrl.users">
  {{userr.id}}
  {{tweetsListCtrl.tweets}}
  <div class="tweetList" ng-repeat="tweett in tweetsListCtrl.tweets[userr.name]">
    {{tweett.id}}
  </div>
</div>-->

<!--<div>
  <div class="userList" ng-repeat="user in tweetsListCtrl.users">
    {{user.id}}
    <div class="tweetList" ng-repeat="tweet in tweetsListCtrl.tweets">
      {{tweet.id}}
    </div>
  </div>
</div>-->